@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

   overflow-x: hidden;
   scroll-behavior: smooth;

   font-family: "Montserrat";
}
section {
   height: 110vh;
   text-align: center;
}

.dark {
   text-align: left;
   background-color: black;
   color: white;
   position: relative;
}
img {
   width: 50%;
   height: 110vh;
   position: absolute;
   right: 0;
   object-fit: cover;
   top: 0;
   z-index: 0;
}

.content {
   z-index: 10;
   padding: 9em 5em;
   position: relative;
   h2 {
      font-size: 5em;
      margin-bottom: 0;
   }
   p {
      font-size: 1.6em;
   }
}
